
### Localization
# Preseeding only locale sets language, country and locale.
  d-i debian-installer/locale string en_US

# keymap is an alias for keyboard-configuration/xkb-keymap
  d-i keymap select us

### Network configuration
# Disable network configuration entirely. This is useful for cdrom
# installations on non-networked devices where the network questions,
# warning and long timeouts are a nuisance.
  d-i netcfg/enable boolean true

# netcfg will choose an interface that has link if possible. This makes it
# skip displaying a list if there is more than one interface.
  d-i netcfg/choose_interface select auto


  d-i     preseed/early_command   string  anna-install network-console
#  d-i     network-console/password        password test
#  d-i     network-console/password-again  password test
  d-i     network-console/authorized_keys_url string file:///authorized_keys
  d-i     network-console/start   select  continue
